/* .cardSection {
  display: flex;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  background-color: #fff;
  width: 888px;
  height: 368px;
  padding: 24px;
}

.img {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
  object-position: inherit;
}

.titleSection {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.14;
  color: #101828;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.price {
  display: flex;
  gap: 12px;
  align-items: center;
}

.ratingSection {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

.ratingText {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #101828;
}

.reviewsText {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.description {
  width: 525px;
  display: block;
  white-space: nowrap;
  margin-bottom: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.equipmentSection {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  height: 104px;
  margin-bottom: 24px;
  overflow: hidden;
}

.equipment {
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  height: 48px;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: #f2f4f7;
  mix-blend-mode: multiply;
  color: #101828;
}
.showMoreBtn {
  border-radius: 200px;
  border: none;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: #e44848;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  cursor: pointer;
  transition: all 250ms linear;
}
.showMoreBtn:hover,
.showMoreBtn:focus {
  background-color: #d84343;
}
.isFavorite {
  fill: #e44848;
} */

.image {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
  object-position: inherit;
}
.item {
  padding: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 524px;
  overflow: hidden;
}
.thumb_1 {
  display: flex;
  justify-content: space-between;
}
.thumb_2 {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.underline {
  border-bottom: 1px solid var(--main);
}
.thumb_4 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.name {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--main);
  display: inline;
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--main);
  display: inline;
}

.rating {
  display: inline;
}
.location {
  display: inline;
}
.location_box {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  color: var(--white);
  background-color: var(--button);
  border: none;
  padding: 16px 40px;
  border-radius: 200px;
  width: 166px;
  transition: var(--transition);
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--main);
  margin-right: 8px;
}
.rating_icon {
  margin-right: 4px;
}
.box {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background-color: var(--badges);
  color: var(--main);
  border-radius: 100px;
  padding: 12px 18px;
  text-transform: capitalize;
}

.heart_icon,
.heartIconFilled {
  margin-right: 0;
  margin-left: 12px;
  cursor: pointer;
  transition: var(--transition);
}
.heartIconFilled {
  fill: var(--button);
}

.heart_icon:hover {
  fill: var(--button);
}
